@model Ocuda.Ops.Controllers.Areas.Reporting.ViewModel.ImportViewModel

<form asp-action="@nameof(HomeController.Import)"
      enctype="multipart/form-data"
      id="importReportForm"
      method="post">
    <input id="importReportId" asp-for="ReportId" type="hidden" />
    <div aria-hidden="true"
         aria-labelledby="reportingImportModalLabel"
         class="modal fade"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         id="reportingImportModal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="reportingImportModalLabel">Import data</h1>
                    <button aria-label="Close"
                            class="modal-close-button btn-close"
                            data-bs-dismiss="modal"
                            type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-2 period-selection d-none"
                         id="period-selection-@Ocuda.Ops.Models.Definitions.Models.ReportDefinitionPeriod.Monthly">
                        <label asp-for="DataDate"></label>
                        <input asp-for="DataDate" class="form-control" type="date" />
                    </div>
                    <div class="mb-2 alert px-2 py-1 d-none" id="dateValidation"></div>
                    <div class="mb-2">
                        <label asp-for="DataFile"></label>
                        <input asp-for="DataFile"
                               class="form-control"
                               id="importReportFileTypes"
                               type="file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-outline-secondary modal-close-button"
                            data-bs-dismiss="modal"
                            type="button">
                        Close
                    </button>
                    <button button-spinner
                            class="btn btn-sm btn-outline-success"
                            id="submitImport"
                            type="submit">
                        Upload Data
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    // import code
    const importModal = document.getElementById('reportingImportModal');
    const importStatus = document.getElementById('dateValidation');
    const resultsPath = "@Url.Action(nameof(HomeController.HasResults))";
    const submitImport = document.getElementById('submitImport');
    var checkedMonth = 0;
    var checkedYear = 0;

    importModal.addEventListener('show.bs.modal', event => {
        document.querySelectorAll('.period-selection').forEach(function(element) {
            element.classList.add('d-none');
        });
        document
            .getElementById('importReportId')
            .value = event.relatedTarget.dataset.reportId;
        document
            .getElementById('importReportFileTypes')
            .setAttribute('accept', event.relatedTarget.dataset.reportAccept);
        document
            .getElementById(`period-selection-${event.relatedTarget.dataset.reportPeriod}`)
            .classList
            .remove('d-none');
        verifyImportDate(document.getElementById('DataDate'));
    });

    function showImportStatus(type, text) {
        if(text.length = 0) {
            importStatus.classList.add('d-none');
        }
        else {
            importStatus.innerText = text;
            importStatus.classList.remove('d-none');
        }
        importStatus.classList.remove('alert-warning', 'alert-danger', 'alert-info');
        importStatus.classList.add(type);
    }

    function verifyImportDate(element) {
        submitImport.classList.add('disabled');
        const link = new URL(`${location.origin}${resultsPath}`);
        const params = new URLSearchParams(link.search);
        let selectedDate = new Date(element.value);
        if(checkedYear == selectedDate.getUTCFullYear()
            && checkedMonth == selectedDate.getUTCMonth() + 1) {
            return;
        }
        if(isNaN(selectedDate.getUTCFullYear()) || isNaN(selectedDate.getUTCMonth())) {
            showImportStatus('alert-warning', 'Select a valid date');
            return;
        }
        showImportStatus('alert-info', 'Looking up date...');
        params.append('reportId', document.getElementById('importReportId').value);
        params.append('year', selectedDate.getUTCFullYear());
        params.append('month', selectedDate.getUTCMonth() + 1);
        fetch(new URL(`${link.origin}${link.pathname}?${params}`), { method: 'GET' })
            .then((response) => response.json())
            .then((jsonResponse) => {
                showImportStatus(jsonResponse.success ? 'alert-danger' : 'alert-success',
                    jsonResponse.message);
                checkedYear = selectedDate.getUTCFullYear();
                checkedMonth = selectedDate.getUTCMonth() + 1;
                if(!jsonResponse.success) {
                    submitImport.classList.remove('disabled');
                }
            })
            .catch((error) => {
                showImportStatus('alert-danger', error);
            });
    }
    document.getElementById('DataDate').addEventListener('change', (event) => {
        verifyImportDate(event.target);
    });
    document.getElementById('importReportForm').addEventListener('submit', (event) => {
        event.target.querySelectorAll('.modal-close-button').forEach(function(element) {
            element.classList.add('disabled');
        });
    });
</script>